@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to top, #008000, #ccff33);
  margin: 0; }

.main {
  background-color: #008000;
  margin: 0; }

.footer {
  background-image: linear-gradient(to top, #ccff33, #008000);
  margin: 0; }

.header img {
  width: 100px;
  height: 100px;
  object-fit: cover; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.main .titulo {
  font-size: 60px;
  font-family: "Rampart One", cursive;
  font-style: regular;
  color: #ccff33; }

.aside_tienda {
  margin-left: 20px; }

.main_novedades img {
  width: 20vw;
  height: 200px; }
  @media screen and (max-width: 768px) {
    .main_novedades img {
      width: 40vw; } }
  @media screen and (max-width: 576px) {
    .main_novedades img {
      width: 80vw; } }

.main_novedades .noticia {
  overflow: scroll;
  background-color: #dafad7;
  margin: 10px auto 10px;
  height: 250px;
  width: 93vw; }

.nosotrosTexto {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  color: white;
  height: fit-content;
  margin: 20px;
  position: relative; }
  .nosotrosTexto p {
    position: relative; }

.nosotrosTexto::before {
  content: "";
  background-image: url("../img/nosotros.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5; }

.contactForm {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer {
  display: flex;
  flex-direction: column; }
  .footer .redes {
    padding: 40px 0px 20px 40px; }
  .footer img {
    width: 50px;
    height: 50px; }
  .footer .whatsapp img {
    position: fixed;
    right: 10%;
    bottom: 5%; }
  .footer .copyright {
    text-align: center; }

.carousel-item img {
  height: 300px;
  object-fit: cover; }
  @media screen and (max-width: 768px) {
    .carousel-item img {
      height: 250px; } }
  @media screen and (max-width: 576px) {
    .carousel-item img {
      height: 200px; } }

.card {
  height: 300px;
  width: 18vw;
  background-color: #70e000;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  line-height: 18px;
  text-align: center;
  border-color: #ccff33;
  border-width: 2px; }
  @media screen and (max-width: 768px) {
    .card {
      width: 40vw; } }
  @media screen and (max-width: 576px) {
    .card {
      width: 80vw; } }
  .card .card-body {
    margin-top: 10px;
    margin-bottom: 5px; }
  .card:hover {
    transform: scale(1.1); }
  .card img {
    height: 200px;
    object-fit: cover; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  color: #9ef01a; }
  .navbar .logo {
    padding-left: 50px; }
  .navbar form {
    padding-right: 50px; }
  .navbar .navbar-toggler {
    margin-right: 50px; }
