@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to top, #4da167, #3bc14a);
  margin: 0; }

.main {
  background-color: #4da167;
  margin: 0; }

.footer {
  background-image: linear-gradient(to top, #3bc14a, #4da167);
  margin: 0; }

.header img {
  width: 50px;
  height: 50px;
  object-fit: cover; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.main .titulo {
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
  font-style: italic;
  color: #3bc14a; }

.main .carousel-item img {
  height: 200px;
  object-fit: cover; }

.main .card {
  height: 35vh;
  background-color: #98ca9e;
  padding-bottom: 10px;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); }
  .main .card:hover {
    transform: scale(1.1); }
  .main .card img {
    height: 70%; }

.main_novedades img {
  width: 20vw;
  height: 200px; }

.main_novedades .noticia {
  overflow: scroll;
  background-color: #dafad7;
  margin: 10px;
  height: 250px; }

.main .nosotrosTexto {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  color: black;
  overflow: scroll;
  background-color: #dafad7;
  height: 500px; }

.main form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer {
  display: flex;
  flex-direction: column; }
  .footer .redes {
    padding: 10px; }
  .footer img {
    width: 50px;
    height: 50px; }
  .footer .whatsapp img {
    position: fixed;
    right: 5%;
    bottom: 5%; }
  .footer .copyright {
    text-align: center; }
