* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables/colores";
@import "./variables/typo";
@import "./variables/extend";


// Header

.header {
  @extend %estiloHeader;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

// Main

.main {
  @extend %estiloMain;
  .titulo {
    @include estiloTexto(40px, $verde2)
  }
  .carousel-item {
    img {
      height: 200px;
      object-fit: cover;
    }
  }

  // Index

  .card {
    height: 35vh;
    background-color: #98ca9e;
    padding-bottom: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    &:hover {
      transform: scale(1.1);
    }
    img {
      height: 70%;
    }
  }
}

// Novedades

.main_novedades {
  img {
    width: 20vw;
    height: 200px;
  }
  .noticia {
    overflow: scroll;
    background-color: $verde3;
    margin: 10px;
    height: 250px;
  }
}

// Nosotros

.main{
  .nosotrosTexto {
    @include estiloTexto2 (20px, black);
  overflow: scroll;
  background-color: $verde3;
  height: 500px;
}
}


// Contacto

.main {
  form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Footer

.footer {
  @extend %estiloFooter;
  display: flex;
  flex-direction: column;
  .redes {
    padding: 10px;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .whatsapp {
    img {
      position: fixed;
      right: 5%;
      bottom: 5%;
    }
  }
  .copyright {
    text-align: center;
  }
}