.header {
    @extend %estiloHeader;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }