.main {
    @extend %estiloMain;
    .titulo {
      @include estiloTexto(60px, $ElectricLime);
    }
  }
  
// Tienda

.aside_tienda{
  margin-left: 20px;
}

  // Novedades
  
  .main_novedades {
    img {
      width: 20vw;
      height: 200px;
      @media screen and (max-width: 768px) {
        width: 40vw;      
      }
      @media screen and (max-width: 576px) {
        width: 80vw;      
      }
    }
    .noticia {
      overflow: scroll;
      background-color: $verde3;
      margin: 10px;
      height: 250px;
    }
  }
  
  // Nosotros
  
    .nosotrosTexto {
      @include estiloTexto2 (20px, white);
    height: fit-content;
    margin: 20px;
    position: relative;
    p{
    position: relative;
  }
    }
    .nosotrosTexto::before{
    content: "";
    background-image: url('../img/nosotros.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  }
  
  
  
  // Contacto
  
    .contactForm {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }