.main {
    @extend %estiloMain;
    .titulo {
      @include estiloTexto(60px, $ElectricLime);
      margin-bottom: -2rem;
    }
  }
  
  // Novedades
  
  .main_novedades {
    img {
      width: 20vw;
      height: 200px;
      @media screen and (max-width: 768px) {
        width: 40vw;      
      }
      @media screen and (max-width: 576px) {
        width: 80vw;      
      }
    }
    .noticia {
      overflow: scroll;
      background-color: $verde3;
      margin: 10px;
      height: 250px;
    }
  }
  
  // Nosotros
  
    .nosotrosTexto {
      @include estiloTexto2 (20px, black);
    background-color: $verde3;
    height: fit-content;
  }
  
  // Contacto
  
    .contactForm {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }