$verde1: #4da167;
$verde2: #3bc14a;
$verde3: #dafad7;
$ForestGreenTraditional: #004b23;
$DarkGreenX11: #006400;
$PakistanGreen: #007200;
$AoEnglish: #008000;
$YellowGreenColorWheel: #38b000;
$SheenGreen: #70e000;
$GreenLizard: #9ef01a;
$ElectricLime: #ccff33;