%estiloHeader{
    background-image: linear-gradient(to top, $AoEnglish, $ElectricLime);
    margin: 0;
}
%estiloMain{
    background-color: $AoEnglish;
    margin: 0;
}
%estiloFooter{
    background-image: linear-gradient(to top, $ElectricLime, $AoEnglish);
    margin: 0;
}
@mixin estiloTexto ($size, $color){
    font-size: $size;
    font-family: $typoTitulo;
    font-style: regular;
    color: $color
}
@mixin estiloTexto2 ($size, $color){
    font-size: $size;
    font-family: $typoTexto;
    font-style: italic;
    color: $color
}