.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    @include estiloTexto2(22px, white);
    .logo{
        padding-left: 50px;
    }
    .navbar-toggler{
        margin-right: 50px;
    }
    #section-carrito{
        height: 60px;
        margin: 5px;
        padding: 3px;
        display: flex;
        flex-direction: wrap;
        background-color: $AoEnglish;
        border-radius: 10px;
    }
    #section-carrito img{
        height: 48px;
        width: 60px;
        margin: 3px;
        object-fit: fill;
    }
}