.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    @include estiloTexto2(20px, $GreenLizard);
    .logo{
        padding-left: 50px;
    }
    form{
        padding-right: 50px;
    }
    .navbar-toggler{
        margin-right: 50px;
    }
}